$thm-yellow:#FAB301;
$fawsome:"Font Awesome 5 Pro";
.bg-yellow{
	background-color: $thm-yellow;
}
.bg-black{
	background-color: #000;
}
.topright-details{
	font-size: 18px;
	color:#fff;
	padding-top: 8px;
	[class*='col-']{
		text-align: center;
	}
	a{
		color:#000;
		font-size: 24px;
		text-align: center;
		span{
			// display: block;
			text-transform: uppercase;
			color:#000;
			font-size: 26px;
		}
	}
	i{
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background-color: #fff;
		margin:0px auto;
		color:#000;
		line-height: 50px;
		text-align: center;
		font-size: 24px;
	}
}
#main-slider{
	position: relative;
	.owl-prev{
		background: #000!important;
		color:#fff;
		width: 40px!important;
		height: 40px;
		border-radius: 0px;
		position: absolute;
		top:50%;
		left:0px;
		font-size: 30px;
		line-height: 35px;
	}
	.owl-next{
		background: #000!important;
		color:#fff;
		width: 40px!important;
		height: 40px;
		border-radius: 0px;
		position: absolute;
		top:50%;
		right:0px;
		font-size: 30px;
		line-height: 35px;
	}
	.owl-nav{
		margin-top: 0px;
	}
}
.ltyellow{
	background-color: #FFC840;
	padding:8px;
}
.subbox{
	background-color: #FFE6A6;
	h4{
		margin:0px;
		padding:0px;
		background-color: #000;
		color:#fff;
		font-size: 18px;
		padding:10px 8px;
		text-align: center;
	}
	select.form-control{
		background-color: inherit;
		border:0;
		border-radius: 0px;
		border-bottom: 2px solid #000;
		margin-top: 12px;
		font-size: 16px;
		padding-bottom: 5px;
		padding-left: 0px;
		color:#000;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		&:focus{
			box-shadow: inherit;
		}
	}
	.btn{
		border-radius: 0px;
		position: relative;
		top: -5px;
    	right: 14px;
    	padding: 8px 20px;
    	font-weight: 700;
    	font-size: 18px;
	}
	.btn-grd-red{
		color:#fff;
		border-radius: 50px;
		background-image: linear-gradient(#c50000, #8e0000);
		&:hover{
			background-image: linear-gradient(#8e0000,#c50000);
		}
	}
}
.icon{
	background: url('../images/down-arrow.svg') no-repeat;
	background-size: 18px 18px;
	background-position: top 11px right 10px
}
h2.section-title{
	font-size: 35px;
	text-align: center;
	margin-bottom: 30px;
	padding-bottom: 20px;
	text-transform: uppercase;
	&:after{
		content: '';
		width: 100%;
		height: 20px;
		background: url('../images/title-border.png') no-repeat;
		background-size: 180px 11px;
		position: absolute;
		bottom:20px;
		left:44%;
	}
}
.btn_exam{
	display: block;
	background-color: #E4B600;
	border-radius: 5px;
	color:#fff;
	margin-bottom: 20px;
	padding:10px 10px;
	text-align: center;
	font-size: 28px;
	border-radius: 30px;
	border:3px solid #fff;
	box-shadow: 0px 3px 3px #ccc;
	&.drred{
		background-image: linear-gradient(to right ,#c22104, #f03b02, #c22104);
		border-color:#8c0a08;
		&:hover{
			background-image: linear-gradient(to right ,#f03b02, #c22104, #f03b02);
		}
	}
	&.drorange{
		background-image: linear-gradient(to right ,#de5004, #f07404, #de5004);
		border-color:#c95119;
		&:hover{
			background-image: linear-gradient(to right ,#f07404, #de5004, #f07404);
		}
	}
	&.ltyellow{
		background-color: #F39C11;
		background-image: linear-gradient(to right ,#e29104, #ffc315, #e29104);
		border-color:#b25314;
		&:hover{
			background-image: linear-gradient(to right ,#ffc315, #e29104, #ffc315);
		}
	}
	&.drmeroon{
		background-color: #C2392C;
	}
	&:hover{
		background-color: #000;
		color:#fff;
	}
}
.pb-7{
	padding-bottom: 70px;
}

.features{
	.row{
		z-index: 99999;
	}
	.container-fluid{
		z-index: 99999;
	}
	ul li img{
		width: 70px;
		height: 70px;
		object-fit: contain;
		margin-bottom: 10px;
	}
}

.howorks{
	.work-icon{
		width: 110px;
		height: 110px;
		margin:0px auto;
		border-radius: 100%;
		border:2px solid $thm-yellow;
		line-height: 110px;
		text-align: center;
		font-size: 50px;
		color:#7f7f7f; 
		margin-bottom: 10px;
	}
	h4{
		margin:0px;
		padding:0px 0px 5px 0px;
		text-align: center;
		font-size: 22px;
		color: #373737;
		&.brred{
			color: #E67E22;
		}
	}
}
.bg-grey{
	background-color: #f4f4f4;
	padding:50px 0px;
}
.whycontent{
	h3{
		margin:0px;
		padding:0px 0px 20px 0px;
		font-weight: 300;
		font-size: 26px;
		line-height: 30px;
		span{
			font-weight: 700;
			text-transform: uppercase;
			color:$thm-yellow; 
		}
	}
	ul li{
		font-size: 20px;
		font-weight: 300;
		color:#000;
		padding-bottom: 10px;
		&:before{
			font-family: $fawsome;
			content: "\f111"; 
			font-weight: 900;
			font-size: 12px;
			color:$thm-yellow;
			padding-right: 15px;
		}
	}
	p{
		color:#000;
		font-size: 18px;
		font-weight: 300;
	}
}
.testimonial-bg{
	background: url('../images/testimonial-bg.png') no-repeat;
	background-size: cover;
	padding:20px 0px 20px 0px;
	position: relative;
	z-index: 99;
	&:after{
	  position: absolute;
	  top:0;
	  left:0;
	  width: 100%;
	  height: 100%;
	  content: "";
	  background-color: rgba(0,0,0,0.5);
	  z-index:1;
	}
	.row{
		z-index: 99999;
	}
	.container{
		z-index: 99999;
	}
}


.testimonial {
  text-align: center;
  margin: 50px 10px 20px;
  padding: 0 10% 1%;
  background: #fff;
	border-radius: 10px;
  .pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 5px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); */
    display: inline-block;
    margin-top: -50px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }

  .description {
    font-size: 20px;
    color: #000;
    line-height: 30px;
    font-weight: 300;
    margin: 10px 0 20px;
  }

  .testimonial-title {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 10px;
    color: $thm-yellow;
  }

  .post {
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: 300;
    margin-bottom: 15px;
  }
}

#testimonial-slider{
	.owl-dot span{
		width: 15px;
		height: 15px;
		background: #fff;
		border:2px solid $thm-yellow;
	}
	.owl-dot.active span{
		background: $thm-yellow!important;
		border:2px solid #fff;
	}
}


.box {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  overflow: hidden;

  &:before, &:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.75);
    height: 25%;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
  }
}

.box-content {
  &:before, &:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.75);
    height: 25%;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
  }
}

.box:after {
  top: 25%;
  transition-delay: 0.1s;
}

.box-content {
  &:before {
    top: 50%;
    transition-delay: 0.2s;
  }

  &:after {
    top: 75%;
    transition-delay: 0.3s;
  }
}

.box {
  &:hover {
    &:before, &:after {
      opacity: 1;
    }

    .box-content {
      &:before, &:after {
        opacity: 1;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    border:5px ridge $thm-yellow;
  }

  .box-content {
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
  }
}

.content {
  text-align: center;
  width: 100%;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 2;
  transition: all 0.3s ease 0s;
}

.box {
  .title {
    color: #0050a3;
    font-size: 22px;
    font-weight: 700;
    text-shadow: 0 0 2px #fff;
    text-transform: uppercase;
    margin: 0;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.5s ease 0.3s;
  }

  .post {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.5s ease 0.3s;
  }

  &:hover {
    .title, .post {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .icon {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transition: all 0.5s ease 0.3s;
  }

  &:hover .icon {
    opacity: 1;
  }

  .icon li {
    margin: 0 4px;
    display: inline-block;

    a {
      color: #000;
      background-color: $thm-yellow;
      font-size: 18px;
      line-height: 35px;
      height: 35px;
      width: 35px;
      border-radius: 0 0 50%;
      display: block;
      transition: all 0.3s;

      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
  }
}

#feedback-slider,#sampleq-slider{
	position: relative;
	.owl-prev{
		background: #000!important;
		color:#fff;
		width: 40px!important;
		height: 40px;
		border-radius: 0px;
		position: absolute;
		top:43%;
		left:-30px;
		font-size: 30px;
		line-height: 35px;
	}
	.owl-next{
		background: #000!important;
		color:#fff;
		width: 40px!important;
		height: 40px;
		border-radius: 0px;
		position: absolute;
		top:43%;
		right:-30px;
		font-size: 30px;
		line-height: 35px;
	}
	.owl-nav{
		margin-top: 0px;
	}
}

.faqcontentbox{
	.card{
		box-shadow: inherit;
		border:0;
		border-radius: 0px;
	}
	.card-header{
		padding:0px;
		border-bottom: 0px;
		background-color: inherit;
	}
	.card-body{
		font-size: 18px;
		padding:10px;
	}
	.btn{
		background: #F7F7F7;
		padding:12px 10px 12px 70px;
		border-radius: 30px;
		font-size: 20px;
		 transition:all ease .5s;
		&[aria-expanded="false"]{
				transition:all ease .5s;
				 &:before{
					font-family: 'Font Awesome 5 Pro';
					content: '\f105';
					font-size: 55px;
				    font-weight: 300;
				    background-color: $thm-yellow;
				    color: #000;
				    width: 70px;
				    height: 70px; 
				    line-height: 70px;
				    position: absolute;
				    border-radius: 100%;
				    top: -7px; 
				    left: -10px;
				    text-align: center; 
				}
			}
			&[aria-expanded="true"]{
				transition:all ease .5s;
				 &:before{ 
					font-family: 'Font Awesome 5 Pro';
					content: '\f107';
					font-size: 55px;
				    font-weight: 300;
				    background-color: $thm-yellow;
				    color: #000;
				    width: 70px;
				    height: 70px;
				    line-height: 70px;
				    position: absolute;
				    border-radius: 100%;
				    top: -7px;
				    left: -10px;
				    text-align: center;
				}
			}
	}
	.btn:focus{
		box-shadow: inherit;
	}
}
.copyright{
	background-color: #2D2D2D;
	padding:14px 0px;
	color:#fff;
	font-weight: 300;
	a{
		color:$thm-yellow;
	}
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}
#status {
    width: 250px;
    height: 84px;
    position: absolute;
    left: 50%;
    top: 55%;
    top: 50%;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    background-size: contain;
}


#add_cart_pop,#individualModal{
	ul.schdlist{
		margin:0px;
		padding:0px;
		list-style: none;
		li{
			font-weight: normal;
			font-size: 14px;
			padding:5px 0px;
			margin-bottom: 5px;
			border-bottom: 1px solid #ccc;
			&::before{
				font-family: 'Font Awesome 5 Pro';
				content: '\f138';
			}
		}
	}
}


.fz-18{
	font-size: 18px;
}


.box{
    position: relative;
}
.box:before,
.box:after{
    content: '';
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 1;
    transform: scale(0) rotateX(360deg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.25s ease-in-out;
}
.box:after{
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    transform: scale(0.5);
    transition-delay: 0.1s;
}
.box:hover:before{
    border-radius: 0;
    transform: scale(1) rotateX(0);
}
.box:hover:after{
    background-color: rgba(0,0,0,0.9);
    opacity: 0;
    transform: scale(1.2);
}
.box img{
    width: 100%;
    height: auto;
    transition: all 0.3s;
}
.box:hover img{ filter: blur(2px) hue-rotate(50deg); }
.box .box-content{
    color: #fff;
    text-align: right;
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
    transition: all 0.3s ease 0.2s;
}
.box:hover .box-content{ opacity: 1; }
.box .title{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
}
.box .post{
    font-size:16px;
    font-weight: 600;
    text-transform: capitalize;
}
.box .icon{
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 80%;
    z-index: 2;
    transition: all 400ms cubic-bezier(1.000, -0.600, 0.570, -0.150);
}
.box:hover .icon{
    opacity: 1;
    top: 50%;
}
.box .icon li{ display: inline-block; }
.box .icon li a{
    color: #000;
    background: #fff;
    font-size: 19px;
    line-height: 38px;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    border-radius: 15px;
    display: block;
    transition: all 0.3s ease 0s;
}
.box .icon li a:hover{
    color: #fff;
    background-color: #000;
    box-shadow: 0 0 0 5px rgba(255,255,255,0.5);
}

.listinst{
	padding-left: 20px;
	li{
		padding-left: 10px;
		list-style-type: decimal;
	}
}


.icontrail{
	width: 100px;
	height: 100px;
	margin:0px auto;
	line-height: 100px;
	border:2px solid $thm-yellow;
	margin-bottom: 10px;
	border-radius: 50%;
	i{
		font-size: 50px;
	}
}
.quemcq{
	.custom-control-label::before {
	    position: absolute;
	    top: .13rem;
	    left: -1.5rem;
	    display: block;
	    width: 1.3rem;
	    height: 1.3rem;
	    pointer-events: none;
	    content: "";
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-color: #fff!important;
	    border: 1px solid #FAB301!important;
	 }
	 .custom-control-input:checked~.custom-control-label::before {
	    color: #000!important;
	    background-color: #FAB301!important;
	}
	.custom-control-label::after {
    position: absolute;
    top: .05rem;
    left: -1.6rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
 }
.content_table .list-group-item{
	font-size: 18px;
	color:#000;
	padding: .50rem 1.25rem;
	&:nth-child(even){
		background-color: rgba(255,255,255,0.7);
	}
	&::before{
		font-family: $fawsome;
		content: '\f058';
		font-size: 20px;
		padding-right: 10px;
	}
}
.extype{
	position: absolute;
    top: 24px;
    font-size: 18px;
    background-color: $thm-yellow;
    color: #000;
    padding: 0px 15px;
    left: 0;
    border-radius: 0px 20px 20px 0px;
}

.custlbl{
	font-size: 16px;
	font-weight: 600;
	padding-left: 5px;
	color:#fff;
}

.bg-drkred{
	background-color: #C2392C;
}
.bg-yellow{
	background-color: #F39C11
}

.SumoSelect{
	widows: 100%!important;
	margin: 20px 10px 22px 10px;
	text-align: left;
	label{
		margin-bottom: 0px;
	}
}
#individualModal{
	/* .modal-xl {
	    max-width: 1140px;
	    widows: 100%;
	} */
	.bg-drkred{
		color:#fff;
		font-size: 20px;
	}
	.card-header{
		padding:5px 10px;
	}
	.card-body{
		padding:10px 10px;
	}
}
.blogcont{
	.block-reveal{
		a img{
			height: 180px;
			width: 100%;
			object-fit: conver;
		}
	}
	.wrapper{
		p{
			height: 60px;
		}
	}
}
ul.blogcatlist{
	margin:0px;
	padding:0px;
	list-style: none;
	li a{
		color:#000;
		border-bottom: 1px solid #ccc;
		padding:5px 0px;
		line-height: 24px;
		margin-bottom: 5px;
		display: block;
		&:hover{
			color:$thm-yellow;
		}
	}
}
.content_table{
	margin-bottom: 20px;
}

.blogpost{
.follow_us ul li a {
    color: #111;
    opacity: 1;
    font-size: 17px;
    background-color: #f7f7f7;
    &:hover{
    	background-color: #000;
    	color:$thm-yellow;
    }
     i{
     	width: 40px;
	    height: 40px;
	    display: block;
	    text-align: center;
	    line-height: 40px!important;
	    margin-bottom: 10px;
	    border: 1px solid #5e5e5e;
     }
	}
}

.postpop{
	color:#000;
	font-size: 14px;
	h5{
		color:#e25304;
		font-size: 16px;
		font-weight: 600;
		a{
			color:#e25304;
			&:hover{
				color:#000;
			}
		}
	}
}
.contact-form select.form-control{
	padding: 5px 12px!important;
}
ul.contactsocial{
	margin:0px;
	padding-left:30px;
	background-color: $thm-yellow;
	overflow: hidden;
	li{
		width: 75px;
		height: 75px;
		display: block;
		float: left; 
		a{
			color:#000!important;
			i{
				font-size: 30px!important;
			}
			&:hover{
				opacity: 0.5;
			}
		}
	}
}

.offerbox{
	background-color: $thm-yellow;
	padding:5px 5px;
	color:#000;
	font-size: 14px;
	text-align: center;
}
// .contact_info ul.contactsocial li{
// 	padding:0px;
// }

@media only screen and (max-width: 767px){
ul.contactsocial{
	padding:15px; 
	height: 70px;
	li{
		width: 50px;
		height: 50px;
	}
}
}
@media only screen and (max-width: 570px){
.container.padd-50{
	padding:50px 30px;
}
}

/* @media only screen and (max-width: 1199px){
#individualModal{
	.modal-xl {
	    max-width: 800px;
	    widows: 100%;
	}
}
}
@media only screen and (max-width: 992px){
#individualModal{
	.modal-xl {
	    max-width: 600px;
	    widows: 100%;
	}
}
}
@media only screen and (max-width: 768px){
#individualModal{
	.modal-xl {
	    max-width: 500px;
	    widows: 100%;
	}
}
} */


.subbox{ 
	.custom-control-input:checked~.custom-control-label::before {
	    color: #fff;
	    border-color: #C2392C;
	    background-color: #C2392C;
	}
	.custom-checkbox .custom-control-label::before{
		border-radius: 0px;
	}
	input[type=checkbox]{
		&:focus{
			box-shadow: inherit;
		}
	}
}

.subscribe{
	.form-control{
		border-radius: 2px 0px 0px 2px;
		padding:19px 12px;
	}
}

.prvicylinks{
	margin:0px;
	padding:0px;
	text-align: right;
	li{
		display: inline-block;
		padding-left: 10px;
		a{
			color:#fff;
			font-size: 13px;
		}
	}
}

@media (max-width: 768px){
.prvicylinks{
	text-align: center;
}
}

.lt-yellow{
	.custom-control-label{
		color:#000;
	}
}

.pricingTable {
  background: #fff;
 font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding: 15px 0 20px;
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 20px;
  &:before{
  	width: 100%;
  	content: "";
  	min-height: 170px;
  	background-color: #111;
  	position: absolute;
  	top:0px;
  	left:0px;
  	z-index: 1;
  	border-radius: 10px 10px 0px 0px;
  }
  .pricingTable-header {
    background: linear-gradient(to right, #F37A21, #F5B259 20px, #F5B259 13px, #F37A21 38px, #F37A21 40%, #F8931F 60%);
    text-align: center;
    text-transform: uppercase;
    padding: 6px 0 5px;
    margin: 0 20px 20px 0;
    clip-path: polygon(0 0, 0 100%, 85% 100%, 100% 50%, 85% 0);
    font-weight: 700;
    z-index: 99;
    position: relative;
  }

  .title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .price-value {
    color: #fff;
    padding: 0 15px;
    margin: 0 0 15px;
    z-index: 99;
    position: relative;
    .amount {
      font-size: 35px;
      font-weight: 600;
      line-height: 40px;
      i{
      	font-size: 30px;
      	font-weight: 300;
      }
    }

    .duration {
      font-size: 30px;
      font-weight: 300;
      text-transform: lowercase;
    }
    small{
    	display: block;
    	font-size: 20px;
    	color:$thm-yellow;
    	text-decoration: line-through;
    	i{
    		text-decoration: line-through;
    	}
    }
  }

  .pricing-content {
    text-align: left;
    padding: 20px 10px 15px 10px;
    margin: 0 0 20px;
    border-bottom: 1px solid #e7e7e7;
    border-left: none;
    border-right: none;
    list-style: none;
    display: inline-block;

    li {
      color: #777;
      font-size: 17px;
      font-weight: 400;
      line-height: 25px;
      text-transform: capitalize;
      padding: 0 0 0 40px;
      margin: 0 0 12px;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: "\f00c";
        color: #fff;
        background: #F89923;
        font-family: "Font Awesome 5 pro";
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        line-height: 24px;
        width: 23px;
        height: 23px;
        border-radius: 50px;
        position: absolute;
        top: 1px;
        left: 0;
      }

      &.disable:before {
        content: "\f00d";
        background: #ED1925;
      }
    }
  }

  .pricingTable-signup a {
    color: #fff;
    background: linear-gradient(#FAAF3C, #F89923);
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    width: 200px;
    padding: 6px 6px 5px;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease;

    &:hover {
      text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
    }
  }

  &.green {
    .pricingTable-header {
      background: linear-gradient(to right, #8DC53C, #E1E530 20px, #E1E530 13px, #8DC53C 38px, #8DC53C 40%, #9BBF3B 60%);
    }

    .pricingTable-signup a {
      background: linear-gradient(#72BC4B, #54A445);
    }

    .pricing-content li:before {
      background: #54A445;
    }
  }
  &.blue{
  	.pricingTable-header {
    background: linear-gradient(to right, #30A6CC, #84D6EE 20px, #84D6EE 13px, #30A6CC 38px, #30A6CC 40%, #4DB5DC 60%);
}
	 .pricingTable-signup a {
      background: linear-gradient(#41B1D9, #1098CC);
    }

    .pricing-content li:before {
      background: #1098CC;
    }
  }

  .pricing-content li.disable:before {
    background: #ED1925;
  }
}
.SumoSelect{
	margin-top: 88px!important;
}

.contact-form{
	
	border:0px!important;
}
.contact-feedform{
	background-color: #465260!important;
	border:0px!important;
	padding:40px;
	margin-bottom: 40px;
}
.formnew{
	background-color: #2b3643!important;
		.form-control{
			border-radius: 5px!important;
	}
	h1{
		color:$thm-yellow;
	}
}
.testsexams{
	.csubox-red{
	border:3px solid #ea5156;
	background-image: linear-gradient(to top, #f6f6f6, #fff);
	border-radius: 50px;
	min-height: 250px;
	padding:35px;
	text-align: center; 
	margin-bottom: 10px;
	h3{
		margin:0px;
		padding:0px 0px 20px 0px;
		color:#ea5156;
		text-align: center;
	}
	p{
		text-align: center;
		font-size: 22px;
	}
	.btn_csu{
		background-color: #ea5156;
		color:#fff;
		text-align: center; 
		padding:10px 20px;
		display: block;
		font-size: 20px;
		border-radius: 5px;
		&:hover{
			background-color: #dc3f44;
		}
	}
	}
	.csubox-yellow{
	border:3px solid #f29a29;
	background-image: linear-gradient(to top, #f6f6f6, #fff);
	border-radius: 50px;
	min-height: 250px;
	padding:35px;
	text-align: center; 
	margin-bottom: 10px;
	h3{
		margin:0px;
		padding:0px 0px 20px 0px;
		color:#f29a29;
		text-align: center;
	}
	p{
		text-align: center;
		font-size: 22px;
	}
	.btn_csu{
		background-color: #f29a29;
		color:#fff;
		text-align: center; 
		padding:10px 20px;
		display: block;
		font-size: 20px;
		border-radius: 5px;
		&:hover{
			background-color: #e59227;
		}
	}
	}
	.csubox-blue{
	border:3px solid #1b4f74;
	background-image: linear-gradient(to top, #f6f6f6, #fff);
	border-radius: 50px;
	min-height: 250px;
	padding:35px;
	text-align: center; 
	margin-bottom: 10px;
	h3{
		margin:0px;
		padding:0px 0px 20px 0px;
		color:#1b4f74;
		text-align: center;
	}
	p{
		text-align: center;
		font-size: 22px;
	}
	.btn_csu{
		background-color: #1b4f74;
		color:#fff;
		text-align: center; 
		padding:10px 20px;
		display: block;
		font-size: 20px;
		border-radius: 5px;
		&:hover{
			background-color: #295f86;
		}
	}
	}
}

#welcomeModal .modal-content{
	border-radius: 0px!important;
button.close{
	position: absolute!important;
	top:20px;
	right:20px;
} 
.close{
	color:#fff;
	text-shadow: inherit;
	opacity:1;
	&:hover{
		color:$thm-yellow;
	}
}
}
@media only screen and (max-width: 992px){
.ribbon{
	width: 90%;
}
.ribbontwo{
	width: 80%;
}
}
@media only screen and (max-width: 600px){
	.new-plans{
		.text-right,.text-left{
			text-align: center!important;
		}
		.nav-pills{
			padding-bottom: 10px;
		}
	}
#main-slider .owl-carousel .owl-item img{
	height: 200px;
}
}