.mpbmenu {
  display: none; }

@media only screen and (max-width: 1367px) {
  .topright-details a span {
    font-size: 17px; }

  .badge-notify {
    right: -12px; }

  body {
    overflow-x: hidden; }

  .exam-btns .container {
    padding-left: 100px;
    padding-right: 0px; } }
@media only screen and (max-width: 1260px) {
  .main-menu > ul > li span > a {
    padding: 15px 15px 15px 15px; } }
@media only screen and (max-width: 1199px) {
  .topright-details a span {
    font-size: 14px; }

  .badge-notify {
    right: -20px; } }
@media only screen and (max-width: 1160px) {
  .main-menu > ul > li span > a {
    font-size: 18px; }

  footer ul li a {
    font-size: 15px; } }
@media only screen and (max-width: 1030px) {
  .howorks h4 {
    font-size: 19px; } }
@media only screen and (max-width: 992px) {
  #logo img {
    height: 81px; }

  .navbar {
    padding: 0px; }

  #logo:after {
    border-top: 82px solid #fff; }

  .badge-notify {
    right: 0px; }

  .topright-details i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px; }

  .btn_exam {
    padding: 10px 10px;
    font-size: 22px; }

  h2.section-title {
    font-size: 30px; }
    h2.section-title::after {
      left: 42%; }

  .features ul li span {
    font-size: 20px; }
  .features ul li h4 {
    font-size: 35px; }
  .features ul li img {
    width: 70px;
    height: 70px; }

  .howorks h4 {
    padding-bottom: 20px; }

  .mpbmenu {
    display: block;
    height: 50px; }

  .btn_mobile {
    top: 10px;
    left: 45px;
    position: absolute; }

  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    background-color: #fff !important; }

  #preloader {
    display: none; }

  #add_cart_pop .modal-dialog {
    width: 600px; } }
@media only screen and (max-width: 768px) {
  #logo {
    position: inherit; }

  .badge-notify {
    right: 82px; }

  .subbox {
    padding: 10px; }
    .subbox .col-auto {
      flex: 0 0 100%; }
      .subbox .col-auto h4 br {
        display: none; }
    .subbox [class^='col']:nth-child(2) {
      flex: 0 0 50%; }
    .subbox [class^='col']:nth-child(3) {
      flex: 0 0 50%; }
    .subbox [class^='col']:nth-child(4) {
      flex: 0 0 50%; }
    .subbox [class^='col']:nth-child(5) {
      flex: 0 0 50%; }
    .subbox [class^='col-auto']:nth-child(6) {
      flex: 0 0 10%; }

  #logo:after {
    display: none; }

  #add_cart_pop .modal-dialog {
    width: 400px; }

  .new-plans .plan-hdd {
    margin-top: 0px; }

  .ribbon {
    width: 100%; }

  .btn_exam {
    font-size: 18px; }

  h2.section-title {
    font-size: 20px; }

  .features ul li {
    margin-bottom: 10px; }

  .topright-details {
    padding-bottom: 8px; }

  .btn-danger {
    margin-bottom: 20px; }

  .exam-btns {
    display: none; } }
@media only screen and (max-width: 680px) {
  .howorks .work-icon {
    width: 80px;
    height: 80px;
    font-size: 30px;
    line-height: 70px; }

  .howorks h4 {
    font-size: 16px; }

  footer h5 {
    margin: 5px 0 30px 0px; }

  .security img {
    height: 70px !important; }

  footer ul {
    margin-bottom: 10px; }

  .payment img {
    height: 50px !important; }

  .ribbontwo {
    font-size: 18px !important; }

  .pricingTable:before {
    min-height: 135px; }

  .pricingTable .title {
    line-height: 24px;
    font-size: 16px; }

  .pricingTable .pricing-content {
    padding-top: 10px; }

  .pricingTable .price-value .amount {
    font-size: 24px;
    line-height: 30px; }

  .pricingTable .price-value .amount i {
    font-size: 22px;
    font-weight: 300; }

  .pricingTable .pricingTable-header {
    margin-bottom: 15px; }

  .pricingTable .pricing-content li {
    font-size: 14px;
    line-height: 20px;
    padding-left: 22px; }

  .pricingTable .pricingTable-signup a {
    font-size: 18px;
    padding: 3px 6px 3px;
    width: 140px !important; }

  .SumoSelect {
    margin-top: 68px !important; }

  .pricingTable .col-9 .text-left {
    padding-left: 20px;
    font-size: 12px; }

  .pricingTable .fa-4x {
    font-size: 1.3rem;
    position: relative;
    top: 5px;
    left: 10px;
    right: 5px; }

  .pricingTable .pricing-content li:before {
    font-size: 10px;
    line-height: 20px;
    width: 18px;
    height: 18px; } }
@media only screen and (max-width: 550px) {
  .faqcontentbox .btn {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block; }

  h2.section-title::after {
    left: 30%; }

  .infobar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0px 0px;
    background: #545454;
    z-index: 9;
    -webkit-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); }

  .infobar .nav .nav-item {
    border-right: 1px solid rgba(255, 255, 255, 0.1); }

  .infobar .nav .nav-item .nav-link {
    color: white;
    padding: 15px 15px;
    text-align: center;
    font-size: 16px; }

  footer {
    padding-bottom: 50px; }

  .new-plans .plan-hdd {
    font-size: 20px !important; }

  footer ul li a {
    font-size: 12px; }

  footer ul.contacts li a i {
    margin-right: 5px; }

  footer ul li a i {
    width: 30px;
    height: 30px;
    line-height: 25px !important; } }
@media only screen and (max-width: 480px) {
  .features ul li h4 {
    font-size: 24px; }

  .features ul li span {
    font-size: 14px; }

  #add_cart_pop .modal-title {
    font-size: 18px; }
  #add_cart_pop .card {
    margin-bottom: .8rem; }
  #add_cart_pop .card-header {
    padding: .25rem 1.25rem; }
  #add_cart_pop .card-body {
    padding-top: .5rem; }
  #add_cart_pop h5 {
    font-size: 16px; } }

/*# sourceMappingURL=newresponsive.css.map */
