#sideslider {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: auto;
    margin-left: auto;
    margin-right: -265px;
    position: fixed;
    right: 0;
    top: 35%;
    width: 300px;
    z-index: 3500;
}

#sideslider .sideslider-tab {
    background-color: #fad022;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    height: 44px;
    left: -33px;
    padding-top: 5px;
    padding-left: 17px;
    position: absolute;
    text-transform: uppercase;
    top: 33px;
    transform: rotate(-90deg);
    width: 110px;
	font-weight:bold;
	border-top:3px solid #000;
    letter-spacing: 1px;
}

#sideslider a {
    text-decoration: none;
}

#sideslider-smartbutton {
    background-color: #fad022;
    margin-left: 35px;
    padding-top: 10px;
    position: relative;
    width: 265px;
}

#sideslider .sideslider-close {
    background-color: #131311;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: 300;
    height: 21px;
    padding-right: 15px;
    padding-top: 0px;
    text-align: right;
    text-transform: uppercase;
    width: 265px;
}


#sideslider-text .line {
    display: block;
    margin-bottom: 10px;
}
#sideslider-text .line .form-control{
	width:85%!important;
	margin-left:10px;
}
#sideslider-text .line input[type=submit]{
	margin-left:10px;
}
#sideslider-text {
    color: #fff;
    text-align: left;
    margin-left: 5px;
}

#sideslider-text .header {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
	color:#fff;
    /*text-shadow: 1px 1px 1px #000;*/
}
.sideclear {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    height: 0;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    width: 0;
}
.line .btn-primary{
	background-color:#f16121;
	border:1px solid #fff;
	color:#fff;
}
.line .btn-primary:hover{
	background-color:#73bf44;
	border:1px solid #fff;
}

.ongoing-projects{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ongoing-projects li{
    margin-left: 20px;
    border-bottom: 1px dotted #110e02;
    margin-bottom: 6px;
    list-style-type: none;
}

.ongoing-projects li i {
    margin-right: 8px;
}

/* .ongoing-projects li:before{
    content: "\f061";
    font-family: 'FontAwesome';
    margin-right: 5px;
} */
.ongoing-projects li a{
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.ongoing-projects li a:hover{
    color: #4a2c19;
}